body{
    background: url("../../assets/images/question-background.png");
}

h1{
    color: blue;
    text-align: center;
}

#timer{
    margin: 10px 40% 10px 40%;
    height: 40px;
    color: white;
    text-align: center;
    background-color: brown;
}

#question{
    background-color: green;
    height: 200px;
    width: auto;
    opacity: 0.8;
}

#tracker{
    background-color: blue;
    height: 900px;
    width: auto;
}

.answer{
    background-color: white;
    width: auto;
    height: 50px;
    margin: 10px 10px;
}

div.round{
    border-radius: 20px;
}
