body{
    /* background: url("../../assets/images/question-background.png"); */
}

h1{
    text-align: center;
    color: #0d47a1 ;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

h4{
    margin: 1rem;
}

button{
    border: 0;
    padding: 10px;
}

#timer{
    
    color: white;
    text-align: center;
}

#question{
    background-color: ;
    height: 200px;
    width: auto;
    padding: 10px;
    font-size: 1.2rem;
}

#tracker{
    background-color: blue;
    height: max-content;
    width: auto;
    padding: 10px;
}

.answer{
    background-color: white;
    width: auto;
    height: 50px;
    margin: 10px 10px;
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.round{
    border-radius: 5px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.entry{
    font-size: 0.9rem;
    margin: 20px 0;
}
